.container {
    padding-top: 10px;
    text-align: center;
  }

  .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding-top: 80px;
    }
  }

  